.top {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.carte {
  border-bottom: #000000 solid 3px;
  border-radius: 25px 25px 25px 25px;
  box-shadow: 6px 6px 12px #221313;
  margin: 2%;
  padding: 1%;
  width: 300px;
  text-transform: uppercase;
}

.photo {
  width: 200px;
  transition: all 0.8s;
}

.photo:hover {
  width: 250px;
}
