.cwarta{
width: 100%;
margin-top: 2%;

}

.top {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  
}

.carte {
  border-bottom: #000000 solid 3px;
  border-radius: 25px 25px 25px 25px;
  box-shadow: 6px 6px 12px #221313;
  /* width: 300px; */
  text-transform: uppercase;
  text-align: center;
  padding-bottom: 2%;
  margin-bottom: 2%;
  /* margin: 2% 5%; */
}

.photo {
  width: 250px;
  height: 150px;
  margin-top: 10%;
  justify-content: center;
  text-align: center;

}

h2{
  font-family: fantasy !important;
}
.galery-input{
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px;
  margin: 15px;
}