body {
  
  font-family: fantasy !important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.mr-auto{
  margin-left: 70%;
}

.historica{
  margin: 5% !important;
}