.Sin {
  font-family: fantasy;
  background-image: url(http://latelierlital.com/sites/default/files/styles/acc/public/uploads/acceuil.png?itok=5e46hB-q);
  background-repeat: no-repeat;
  background-size: cover;
}

.Sin h1{
    font-family: fantasy;
    text-align: center;
    margin-bottom: 8%;
}

.tab{
    font-family: fantasy !important;
    margin: 2% 10%;
}

.ui button{
    font-family: fantasy !important;
}

/* .ui button:hover{
    background-color: rgb(207, 202, 202) !important;
    color: rgb(156, 9, 120) !important;
} */

.modaledit span{
    font-family: fantasy !important;
    margin-left: 28%;
    font-size: medium;
}

.modaledit input{
    font-family: fantasy !important;
    margin-left: 28%;
    font-size: medium;
    margin-top: 5px;
    margin-bottom: 10px;
}

.btnsusers, .edit{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: center;

}
